In [1]:
import pandas as pd
import pickle as pickle

In [2]:
def preprocessing_dataset(dataset, label_type):
    label = []
    for i in dataset[8]:
        if i == 'blind':
            label.append(100)
        else:
            label.append(label_type[i])
    out_dataset = pd.DataFrame({'sentence': dataset[1], 'entity_01': dataset[2], 'entity_02': dataset[5], 'label': label,})
    return out_dataset

In [4]:
with open('/opt/ml/input/data/label_type.pkl', 'rb') as f:
    label_type = pickle.load(f)

dataset = pd.read_csv("/opt/ml/input/data/train/train.tsv", delimiter='\t', header=None)
dataset = preprocessing_dataset(dataset, label_type)

In [5]:
dataset.head()

,sentence,entity_01,entity_02,label
0,영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)...,랜드로버,자동차,17
1,"선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석,...",민주당,27석,0
2,유럽 축구 연맹(UEFA) 집행위원회는 2014년 1월 24일에 열린 회의를 통해 ...,유럽 축구 연맹,UEFA,6
3,"용병 공격수 챠디의 부진과 시즌 초 활약한 강수일의 침체, 시즌 중반에 영입한 세르...",강수일,공격수,2
4,람캄행 왕은 1237년에서 1247년 사이 수코타이의 왕 퍼쿤 씨 인트라팃과 쓰엉 ...,람캄행,퍼쿤 씨 인트라팃,8

In [10]:

dd = pd.read_csv("/opt/ml/input/data/train/train.tsv", delimiter='\t', header=None)

In [11]:
dd[8]

0          단체:제작
1          관계_없음
2          단체:별칭
3       인물:직업/직함
4         인물:부모님
          ...
8995       관계_없음
8996    단체:본사_국가
8997    인물:직업/직함
8998       관계_없음
8999    인물:직업/직함
Name: 8, Length: 9000, dtype: object